<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Test Project</title>
<link type="text/css" href="css/common.css" rel="stylesheet"/>
<script type="text/javascript" src="js/common.js"></script>
</head>
<body>

msg: $!{test}<br>
<hr>
sum: $!{sum}

<form action="testAction.do" method="POST">
<input type="text" name="item1" value="1">
<input type="text" name="item2" value="2">
<input type="submit" value="sum">
<form>

#include("template/footer.vm")
</body>