<?xml version="1.0" encoding="GB2312"?>

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- ===================================================================== -->
	<!--  以下是appender的定义                                                 -->
	<!-- ===================================================================== -->
	<appender name="PROJECT-DEBUG" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %c{2} - %m%n" />
		</layout>
	</appender>
	<!-- ===================================================================== -->
	<!--  以下是logger的定义                                                   -->
	<!-- ===================================================================== -->
	<logger name="com.alibaba.service.resource">
		<level value="DEBUG" />
	</logger>
	<logger name="com.alibaba.service.ResourceLoaderService">
		<level value="DEBUG" />
	</logger>
	<!-- ===================================================================== -->
	<!--  Root logger的定义                                                    -->
	<!-- ===================================================================== -->
	<root>
		<level value="INFO" />
		<appender-ref ref="PROJECT-DEBUG" />
		<appender-ref ref="FILE-LOG" />
	</root>
</log4j:configuration>
