/* FORMS */

form {
    margin: 0;
    border: none;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

fieldset.input input, textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}

fieldset.input {
	border-width: 1px;
	border-style: solid;
    padding: 1em;
}

fieldset.hidden {
	display: none;
}

fieldset.buttons {
	margin-top: 1em;
}

fieldset.buttons input {
	margin: 0;
}

fieldset.input input,
textarea {
	border-width: 2px;
	border-style: solid;
	margin-right: 1em;
	padding: 2px;
	width: 40em;
}

fieldset.input p {
    margin: 0;
	clear: left;
}

p.input label {
	display: inline;
	float: left;
	width: 6em;
	padding: 3px 0;
}

p.input input {
	display: inline;
	float: left;
	width: 34em;
}

p.input {
	vertical-align: middle;
    height: 2.5em;
}