/* dean.edwards/2004 */
/* keeping code tidy! */

@import url("syntax.css");

*{margin:0}
body{padding:8px}
th,td{padding:1px}
ul,ol,dl{padding:0}
hr{margin:1em auto}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{font-weight:bold}
h1,.h1{font-size:2em;margin:.67em 0}
h2,.h2{font-size:1.5em;margin:.83em 0}
h3,.h3{font-size:1.17em;margin:1em 0}
h4,.h4{font-size:1em;margin:1.33em 0}
h5,.h5{font-size:.83em;margin:1.67em 0}
h6,.h6{font-size:.67em;margin:2.33em 0}
p,blockquote,ul,fieldset,form,ol,dl,dir,menu{margin:1.33em 0}
blockquote,ol,ul,dir,menu,dd{margin-left:40px}
ol ul,ul ol,ul ul,ol ol{margin-top:0;margin-bottom:0}
/* dean.edwards/2004 */
/* keeping code tidy! */

body {
	padding: 0;
}

h1 {
	margin: 0 0 4px;
}

img {
	vertical-align: middle;
	margin-right: 2px;
	padding: 0;
}

img.icon {
	height: 20px;
	width: 20px;
}

/* LAYOUT */

div.document {
	width: 75%;
	max-width: 80em;
	min-width: 30em;
	margin: 0 auto;
	padding: 8px 15px;
}

div.content {
	min-height: 5em;
	clear: right;
}

div.footer {
	margin-top: 8px;
	padding-bottom: 1em;
}

/* BOXES */

*.box,
*.section,
pre,
form {
	display: block;
	padding: 0 1em;
	margin: 1.33em 1em;
	border-style: solid;
	border-width: 1px;
}

/* CODE */

a code {
	border: inherit;
}

code,
kbd {
	white-space: nowrap;
}

pre,
code.box {
	padding: 1em;
}

pre, *.pre {
	white-space: pre; /* CSS2 */
	overflow: auto;
}

pre.src {
	margin: 0;
	padding: 1em 0;
	border: none;
	white-space: pre;
	overflow: visible;
	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
}

pre.message {
	white-space: normal;
}

pre,
blockquote {
	width: 100%;
}

@media screen {
	pre,
	blockquote {
		width: auto;
	}
}

blockquote {
	display: block;
	padding: 0 2em;
	margin: 1.33em 2em;
	border-left: 2em solid;
}

/* HORIZONTAL RULES */

hr {
	height: 1px;
	border: none;
	color: black;
	background-color: black;
}

hr.short {
	height: 2px;
	width: 20%;
}

hr.paste {
	border-width: 1px;
	border-style: dashed;
	border-bottom: none;
}

div.header hr,
div.footer hr {
	border: none;
	margin: 0.5em auto;
}

/* LISTS */

#main-menu li {
	border-right-style: solid;
	border-right-width: 2px;
}

ul {
	list-style-type: square;
}

ul.meta {
	margin: 3em 0 1.33em 1.33em;
	line-height: 1.2em;
}

ul.meta li {
	margin-top: 2px;
}

dt {
	margin: 0.67em 0 0.25em 0;
}

dl.flat dd {
	margin-left: 0;
	margin-right: 0;
}

ul.box li {
	margin-left: 1em;
}

a.selected {
	cursor: default;
}

/* ANCHORS */

a img {
	border: none;
	margin: 0;
}

/* TABLES */

table.data {
	border-collapse: collapse;
	width: 100%;
}

div.table {
	border-right: none;
	border-bottom: none;
	padding: 0;
}

div.table td {
	vertical-align: top;
}

div.table th {
	text-align: left;
}

div.table th,
div.table td {
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 3px;
}

/* MENUS */

ul.menu {
	display: block;
	margin: 0;
	padding: 0;
}

ul.menu li {
	display: inline;
}

#main-menu {
	text-align: right;
}

#main-menu li {
	padding: 0 0.5em 0;
	white-space: normal;
}

#main-menu li.last-child {
	border-right: none;
	padding-right: 0;
}

#main-menu a {
	margin-right: 1px;
}

/* FLOATS */

hr,
*.box,
*.section,
div.footer {
	clear: both;
}

li.download {
	float: right;
}

#sourceforge,
#donate,
#no-ie,
a#browse-happy {
	float: right;
	border: none;
	padding: 0;
}

#no-ie {
	float: left;
	margin: 1em 0.5em 0 0;
}

#sourceforge {
	width: 88px;
	height: 31px;
	margin-left: 1em;
}

#sourceforge img {
	margin: 0;
}

#buttons {
	float: right;
}

/* BLOG */

*.comment *.section {
	margin-bottom: 1em;
}

*.comment div.section {
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#comments,
#postcomment {
	margin-top: 2em;
}

div.comment-text {
	margin-right: 2em;
}

ul.meta {
	margin: 4em 0 1.33em 1.33em;
}

*.comment div.section {
	margin-left: 3em;
}

li.comment div.section {
	margin-top: -2.67em;
}

div.preview div.section {
	margin-left: 2.33em;
}

div.preview fieldset.input {
	padding-left: 1em;
	border: none;
	background-color: transparent;
}

div.preview fieldset.buttons {
	margin-left: 0.67em;
}

#navigate {
	margin-bottom: 2.17em;
}

#navigate span.label {
	display: none;
}

#navigate li.previous {
	display: inline;
	float: left;
}

#navigate li.next {
	display: inline;
	float: right;
}

#navigate:after {
	content: "\A0";
	clear: both;
}

#commentlist {
	margin-left: 0;
	list-style-type: none;
}

li.comment button {
	float: right;
	padding: 1px 2px;
	margin-top: -4em;
	margin-right: 1em;
	visibility: hidden;
}

p.permalink {
	text-align: right;
	width: 30px;
}

p.permalink span {
	display: none;
}

#help {
	margin: 0;
	float: right;
}

blockquote address {
	text-align: right;
}

/* OTHER STUFF */

#license, #syndication {
	margin-top: 0;
	margin-bottom: 0.17em;
}

#modified {
	margin: 0;
	text-align: right;
}

sup {
	vertical-align: top;
}

sup.flag {
	margin-left: 2px;
}

/* HACKS */
#donate a {border-bottom-width: 0 !important;}
/* tweak IE5.x for mac (http://www.sam-i-am.com/work/sandbox/css/mac_ie5_hack.html) */
/*\*//*/
  @import "ie5mac.css";
/**/
/* dean.edwards/2004 */
/* keeping code tidy! */

/* PAGE */
div.document {
	background-color: #FCFCFC;
	border-left: 2px solid #EEEEEE;
	border-right: 2px solid #EEEEEE;
	margin-top: 2px;
}

/* because of people's giant favicons! */
div.comment-text {
	background-color: #FCFCFC;
}

/* FONTS */

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}

p, dd {
	line-height: 1.4;
}

li {
	padding: 1px 0;
}

h1 {
	font-size: 18px;
	line-height: 20px;
	font-style: italic;
	margin: 0;
}

div.posts h2,
#weblog h4 {
	font-size: 1.17em;
}

div.posts h3 {
	font-size: 1.5em;
}

p.permalink {
	font-size: 1em;
}

blockquote address,
ul.meta {
	font-size: xx-small;
}

#bread-crumbs {
	font-size: 0.8em;
}

div.footer {
	font-size: xx-small;
}

sup.flag {
	font-size: 10px;
}

*.author cite {
	font-style: normal;
}

p.footnote {
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

dt {
	font-weight: bold;
}

/* COLOUR */

*.alert {
	color: #AA3333;
}

ul.meta {
	color: #898E79;
}

ul.meta :link, ul.meta :visited {
	color: #898E79;
}

div.preview div.comment {
	border-width: 0 0 0 0.33em;
	border-color: #AA3333;
	border-style: solid;
}

pre,
code,
html *.code,
kbd {
	font-size: 1em;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Lucida Console", "Courier New", courier, monospace;
	font-style: normal;
}

pre {
	font-size: small;
}

@media screen {
pre {
	font-size: 1em;
}}

pre.src {
	background-color: transparent;
}

/* default colour */
body,
*.author cite,
li.more-info,
li.version  {
	color: black;
}

/* link colour */
blockquote address a:link,
blockquote address a:visited {
	color: #898E79;
}

div.footer *, div.footer :link, div.footer :visited {
	color: #898E79;
}

div.footer hr {
	color: #000000;
}

:link, :visited {
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-decoration: none;
}

/* HOVER */

a:link:hover,
a:visited:hover,
a:active:hover,
a:hover span.link-text,
a:hover cite,
#commentlist li.author a:hover,
a:hover code {
	background-color: #FFFF99;
	color: #EE0000 !important;
	border-bottom-color: #EE0000 !important;
}
a:link img, a:visited img {
	border: 1px solid #FCFCFC;
	border-bottom-color: #FCFCFC !important;
}
a:hover img {
	background-color: #FFFF99;
	border: 1px solid #EE0000;
	border-bottom-color: #EE0000 !important;
	cursor: pointer;
}
#site-news a {
	border-bottom-color: #FFFFFF !important;
}

h1 :link,
h1 :visited,
div.header :link,
div.header :visited,
h2 :link,
h2 :visited,
.h2 :link,
.h2 :visited,
h3 :link,
h3 :visited,
.h3 :link,
.h3 :visited,
#buttons a {
	border-bottom-width: 0;
}

a code {
	border-bottom-width: 0;
}

/* ACTIVE */

a:active,
h1 :active,
div.header a:active {
	color: #EE0000 !important;
}

/* DISABLED STATES */

*.disabled,
*.disabled * {
	color: #898E79 !important;
}

*.disabled a:link,
*.disabled a:visited {
	color: #898E79 !important;
}

*.disabled a:hover {
	color: #00e !important;
}

/* weblog favatars */

*.comment div.section {
	background-position: right top;
	background-repeat: no-repeat;
}
/* XML button */

*.feed-button {
	font-size: smaller;
	text-decoration: none;
}

*.feed-button,
a.feed-button:hover {
	font-weight: bold;
	padding: 0 2px 1px 2px;
	border: 1px solid;
	/* stop other link styles from interfering with
	 the look of the XML button */
	background-color: #FF6600 !important;
	border-color: #000000 !important;
	color: #FFFFFF !important;
}

*.feed-button abbr {
	color: #FFFFFF !important; /* for opera */
}

#syndication a,
#syndication-page ul.feeds a {
	border-bottom-width: 0;
}


ul.feeds a:hover img,
#syndication a:hover img,
#syndication-page ul.feeds a {
	padding: 1px;
	border: none !important;
}

#syndication span.link-text {
	border-bottom: 1px solid;
	color: #898E79;
}

/* NOTES */

html *.note {
	background-color: #FFFFCC;
	padding: 1em;
}

*.note p {
	margin: 0;
}

/* IMAGES */

#sourceforge,
#donate,
#no-ie,
a#browse-happy,
#buttons :link img,
#buttons :visited img {
	padding: 0;
}

#sourceforge img,
#buttons img,
#donate img {
	vertical-align: top;
}

#download #donate {
	margin: 0;
}

/* WEBLOG EXTRAS */

blockquote.verse {
	margin: auto;
	font-style: italic;
	font-size: 1.1em;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	width: 24em;
	background-color: ivory;
	border: 1px solid black;
	padding: 1em;
}
blockquote.verse h4 {
	margin-top: 0;
	text-decoration: underline;
}
blockquote.verse p {
	margin: 0;
}
blockquote.verse hr {
	width: 25%;
	height: 1px;
}

#britpack a img {
	border-color: #898E79;
	border-bottom-color: #898E79 !important;
}

#britpack a:hover img {
	border: 1px solid #EE0000;
	border-bottom-color: #EE0000 !important;
}

#rules dt {
	margin: 1em 0 1ex 0;
}

#rules dt a[href^="#"] {
	font-weight: normal;
}

/* PAGE */
@media screen {
html, body {
	background-color: #E2E3E8;
}}

*.section {
	background-color: #FFFFFF;
}

*.comment div.section {
	background-color: transparent;
}

/* COLOUR */

/* border colour */

*.box,
*.section,
fieldset.input,
blockquote,
textarea,
div.table th,
div.table td,
*.comment div.section,
*.input input {
	border-color: #E6E9F9;
}

/* background colour */
div.table th,
fieldset.input {
	background-color: #F2F3F8;
}

/* code */
pre,
code,
html *.code,
kbd {
	background-color: #F6F6F9;
	border-color: #E7E7EF;
}

/* link colour */
:link,
h1,
h1 :visited,
*.author :link,
*.author :visited,
*.author :link cite,
*.author :visited cite,
:link span.link-text,
#commentlist li.author :link,
#commentlist li.author :visited,
#commentlist p.IE-bug-fix.permalink :visited,
div.header,
div.header hr,
div.header :visited {
	color: #0000EE;
	border-bottom-color: #0000EE;
}
#main-menu li {
	border-color: #0000EE;
}
div.header hr {
	background-color: #0000EE;
}
#syndication :link span.link-text {
	border-bottom-color: #0000EE;
}

/* visited link colour */
:visited,
:visited span.link-text {
	color: #551A86;
	border-bottom-color: #551A8B;
}
#syndication :visited span.link-text {
	border-bottom-color: #551A8B;
}
