
body div.document hr {margin: auto;}
div.footer *.feed-button {font-size: 95%;}
#navigate {height: 1em;}
li.download,
#sourceforge,
#donate,
#no-ie,
#posts,
#work,
a#browse-happy {
	display: inline;
}

/* holly-hackish */
#recent {height: 100%;}
#commentlist *.comment, #navigate a, *.comment a {display: inline-block;}
#commentlist *.comment {display: block;}
#commentlist *.comment *.section {margin-bottom: 0;}
#commentlist *.IE6.comment *.section {margin-bottom: 1em;}

*.feed-button {display: inline-block;}

/* IE5-6 */
div.IE-min-height.content {height: 5em;}
p.IE6.permalink {display: inline-block; margin-top: 0;}
*.IE6.post #commentlist {margin-bottom: -2em;}

/* IE5.x (http://www.tantek.com/CSS/Examples/midpass.html) */
@media tty {
 i{content:"\";/*" "*/}} @import 'ie5win.css'; /*";}
}/* */
